<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a.shareholder:link {
            color: darkcyan;
        }

        a.shareholder:hover {
            color: darkturquoise;
        }

        a.deposit:link {
            color: coral;
        }

        a.shareholder:hover {
            color: gold;
        }
    </style>
</head>

<body>

</body>

</html>