{% extends "main.html" %}
{% load static %} 
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load mahimsoft_tags %}
{% comment %} {% load i18n %} {% endcomment %}
{% block title %}Samprity Tower{%endblock %}
{% block content %}

<div class="container pt-3">
    <div class="card p-2 my-2 text-center">
        <h3 class="text-muted">Extenditure Summary</h3>
    </div>
    <div class="d-flex justify-content-end"><h5 class="text-danger">Total Expenditure: Tk. {{grand_total.amount__sum|intcomma_bd}}</h5></div>
{% regroup expenditure by item__ItemCode__workSector as work_sector %}
{% for items in work_sector %}
<div class="card bg-secondary">
<h5 class="text-white p-1">{{ items.grouper }}</h5>
</div>
<div class="table-responsive-sm" >
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th class="text-center" style="width: 5%;">#</th>
                <th class="text-center" style="width: 30%;">Item Name</th>
                <th class="text-center" style="width: 20%;">Quantity</th>
                <th class="text-center" style="width: 10%;">Unit</th>
                <th class="text-end  pe-5 me-5" style="width: 20%;">Amount (Taka)</th>
            </tr>
        </thead>
        <tbody>

{% for item in items.list  %}
<tr class="">
    <td class = "text-center">{{forloop.counter}}</td>
    <td>{{item.item__itemName}}</td>
    
    {% comment %} {% if item.item__itemName == "Brick" or item.item__itemName == "Rod"%} {% endcomment %}
 <!-- {% comment %}Take a closer look at the widthratio template tag. Given {% widthratio a b c %} it computes (a/b)*c {% endcomment %}--> 
   <!-- {% comment %} <td class="text-end pe-5 me-5">{% widthratio item.sum_quantity 1000 1 %}</td> {% endcomment %} -->
    {% comment %} {% else %} {% endcomment %}
    <td class="text-end pe-5 me-5">{{item.sum_quantity|intcomma_bd}}</td>
    {% comment %} {% endif %} {% endcomment %}
        
    <td>{{item.unit}}</td>
    <td class="text-end pe-5 me-5">{{item.sum_amount|intcomma_bd}}/=</td>

</tr>

{% endfor %}
<th colspan="4" class="text-end">Total =</th>
<th class="text-end pe-5 me-5">{{items.list.0.worksector_sum|intcomma_bd}}/=</th>

</tr>
</tbody>
</table>
</div> 
{% endfor %}
    
</div>

{% endblock %}