<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<p>Visitor Ip : {{visitors_data.visitorIP }}</p>
<p>Country : {{visitors_data.country }}</p>
<p>Country Code : {{visitors_data.country_code }}</p>
<p>Continent : {{visitors_data.continent }}</p>
<p>Continent Code : {{visitors_data.continent_code }}</p>
<p>City : {{visitors_data.city }}</p>
<p>County : {{visitors_data.county }}</p>
<p>Region : {{visitors_data.region }}</p>
<p>Region_Code : {{visitors_data.region_code }}</p>
<p>Timezone : {{visitors_data.timezone }}</p>
<p>Owner : {{visitors_data.owner }}</p>
<p>Longitude : {{visitors_data.longitude }}</p>
<p>Latitude : {{visitors_data.latitude }}</p>
<p>Currency : {{visitors_data.currency }}</p>
<p>Languages : {{visitors_data.languages }}</p>
<p>Visitcount : {{visitors_data.visitCount }}</p>
<p>User : {{visitors_data.user }}</p>
<p>Visit Date Time : {{visitors_data.visitDateTime }}</p>


<body>

</body>

</html>