{% extends "main.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% comment %} {% load i18n %} {% endcomment %}
{% block title %}{{company_name}}{%endblock %}
{% block content %}

<div class="container pt-3" style="width:70%;">
    <div class="card">
        <div class="card-header ps-2 py-1 me-0 text-white bg-secondary">
            <h4>{{heading}}</h4>
        </div>
        <div class="card-body">
            <form autocomplete="off" method="post" class="p-3 pb-0" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form form-floating pe-4">
                    {{form|crispy}}
                </div>
                <div class="d-flex justify-content-end mb-1" id="button_div">
                    {% if update_tag is None %}
                    <input type="submit" name="submit" value="Submit" class="btn btn-primary btn btn-success me-2 mb-0"
                        id="submit-id-submit">
                    <input type="reset" name="reset" value="Reset" class="btn btn-inverse btn btn-danger me-0 mb-0"
                        id="reset-id-reset">
                    {% else %}
                    <input type="submit" name="submit" value="Update" class="btn btn-primary btn btn-success me-2 mb-0"
                        id="submit-id-submit">
                    <a href="{{redirect_url}}" class="btn btn-danger">Cancel</a>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
    <br>
    {% if update_tag is None %}
    <div class="card pb-0 mb-0">
        <div class="card-header ps-2 py-1 text-white bg-secondary">
            <h4>{{data_heading}}</h4>
        </div>
        <ul class="list-group list-group-flush">
            {% for dt in data %}

            {% if forloop.counter|divisibleby:2 %}
            <li class="ps-5 pe-5 list-group-item list-group-item-light">
                <div class="d-flex justify-content-between">- {{dt}}
                    {% if detil_tag == True %}
                    <a href="{{ dt.get_absolute_url}}"><i class="bi bi-file-earmark-text-fill"></i></a>
                    {% endif %}
                </div>
            </li>

            {% else %}
            <li class="ps-5 pe-5 list-group-item list-group-item-secondary">
                <div class="d-flex justify-content-between">- {{dt}}
                    {% if detil_tag == True %}
                    <a href="{{ dt.get_absolute_url}}"><i class="bi bi-file-earmark-text-fill"></i></a>
                    {% endif %}
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
<br>
<br>


{% endblock %}