{% extends "main.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% comment %} {% load i18n %} {% endcomment %}
{% block title %}Samprity Tower{%endblock %}
{% block content %}

<div class="container pt-3" style="width:70%;">
    <div class="card">
        <div class="card-header ps-2 py-1 text-white bg-secondary">
            <h4>{{heading}}</h4>
        </div>
        <div class="card-body">
            <form autocomplete="off" method="post" class="p-3 pb-0" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form form-floating pe-4">
                    {{form|crispy}}
                </div>
                <div class="d-flex justify-content-end">
                    <input type="submit" class="btn btn-success m-3 me-0" value="Submit">
                    <input type="reset" id="reset" class="btn btn-danger ms-2 m-3 me-0" value="Reset">
                </div>
            </form>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-header ps-2 py-1 text-white bg-secondary">
            <h4>{{data_heading}}</h4>
        </div>
        <ul class="list-group list-group-flush">
            {% for dt in data %}

            {% if forloop.counter|divisibleby:2 %}
            <li class="ps-5 pe-5 list-group-item list-group-item-light">
                <div class="d-flex justify-content-between">- {{dt}}
                    {% if detil_tag == True %}
                    <a href="{{ dt.get_absolute_url}}">Details</a>
                    {% endif %}
                </div>
            </li>

            {% else %}
            <li class="ps-5 pe-5 list-group-item list-group-item-secondary">
                <div class="d-flex justify-content-between">- {{dt}}
                    {% if detil_tag == True %}
                    <a href="{{ dt.get_absolute_url}}">Details</a>
                    {% endif %}
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <br>
</div>

{% endblock %}