<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/css/mahimsoft.css" rel="stylesheet">
</head>

<body>
    <h2 style="color: red;">Heading (h2)</h2>
    <h3 class="CompanyNameFont">Masud Zaman, Jalalabd Gas T & D System Ltd.---CompanyNameFont</h3>
    <h3 class="AeroSkyFont">Masud Zaman, Jalalabd Gas T & D System Ltd.---AeroSkyFont</h3>
    <h3 class="BalletRegular">Masud Zaman, Jalalabd Gas T & D System Ltd.---BalletRegular</h3>
    <h3 class="GrechenFuemen">Masud Zaman, Jalalabd Gas T & D System Ltd.---GrechenFuemen</h3>
    <h3 class="LoversQuarrel">Masud Zaman, Jalalabd Gas T & D System Ltd.---LoversQuarrel</h3>
    <h3 class="MrsSheppards">Masud Zaman, Jalalabd Gas T & D System Ltd.---MrsSheppards</h3>
    <h3 class="NothingYouCouldDo">Masud Zaman, Jalalabd Gas T & D System Ltd.---NothingYouCouldDo</h3>
    <h3 class="digital7">Masud Zaman, Jalalabd Gas T & D System Ltd.---digital7</h3>
    <h3 class="b_fontNikosh2">মোঃ মাসুদ জামান, ‌জালালাবাদ গ্যাস টি এ্যান্ড ডি সিস্টেম লিঃ---b_fontNikosh2</h3>
    <h3 class="b_fontSejuti">মোঃ মাসুদ জামান, ‌জালালাবাদ গ্যাস টি এ্যান্ড ডি সিস্টেম লিঃ---b_fontSejuti</h3>
    <h3 class="b_fonteid">মোঃ মাসুদ জামান, ‌জালালাবাদ গ্যাস টি এ্যান্ড ডি সিস্টেম লিঃ---b_fonteid</h3>
    <h3 class="b_fontekush">মোঃ মাসুদ জামান, ‌জালালাবাদ গ্যাস টি এ্যান্ড ডি সিস্টেম লিঃ---b_fontekush</h3>
    <h3 class="b_fontkero">মোঃ মাসুদ জামান, ‌জালালাবাদ গ্যাস টি এ্যান্ড ডি সিস্টেম লিঃ---b_fontkero</h3>
    <h3 class="b_fontpadmo">মোঃ মাসুদ জামান, ‌জালালাবাদ গ্যাস টি এ্যান্ড ডি সিস্টেম লিঃ---b_fontpadmo</h3>
    <h3 class="b_fontmadon">মোঃ মাসুদ জামান, ‌জালালাবাদ গ্যাস টি এ্যান্ড ডি সিস্টেম লিঃ---b_fontmadon</h3>
    <h2 style="color: red;">Paragraph (p)</h2>
    <p class="CompanyNameFont">Masud Zaman, Jalalabd Gas T & D System Ltd.---CompanyNameFont</p>
    <p class="AeroSkyFont">Masud Zaman, Jalalabd Gas T & D System Ltd.---AeroSkyFont</p>
    <p class="BalletRegular">Masud Zaman, Jalalabd Gas T & D System Ltd.---BalletRegular</p>
    <p class="GrechenFuemen">Masud Zaman, Jalalabd Gas T & D System Ltd.---GrechenFuemen</p>
    <p class="LoversQuarrel">Masud Zaman, Jalalabd Gas T & D System Ltd.---LoversQuarrel</p>
    <p class="MrsSheppards">Masud Zaman, Jalalabd Gas T & D System Ltd.---MrsSheppards</p>
    <p class="NothingYouCouldDo">Masud Zaman, Jalalabd Gas T & D System Ltd.---NothingYouCouldDo</p>
    <p class="digital7">Masud Zaman, Jalalabd Gas T & D System Ltd.---digital7</p>
    <p class="b_fontNikosh2">মোঃ মাসুদ জামান, ‌জালালাবাদ গ্যাস টি এ্যান্ড ডি সিস্টেম লিঃ---b_fontNikosh2</p>
    <p class="b_fontSejuti">মোঃ মাসুদ জামান, ‌জালালাবাদ গ্যাস টি এ্যান্ড ডি সিস্টেম লিঃ---b_fontSejuti</p>
    <p class="b_fonteid">মোঃ মাসুদ জামান, ‌জালালাবাদ গ্যাস টি এ্যান্ড ডি সিস্টেম লিঃ---b_fonteid</p>
    <p class="b_fontekush">মোঃ মাসুদ জামান, ‌জালালাবাদ গ্যাস টি এ্যান্ড ডি সিস্টেম লিঃ---b_fontekush</p>
    <p class="b_fontkero">মোঃ মাসুদ জামান, ‌জালালাবাদ গ্যাস টি এ্যান্ড ডি সিস্টেম লিঃ---b_fontkero</p>
    <p class="b_fontpadmo">মোঃ মাসুদ জামান, ‌জালালাবাদ গ্যাস টি এ্যান্ড ডি সিস্টেম লিঃ---b_fontpadmo</p>
    <p class="b_fontmadon">মোঃ মাসুদ জামান, ‌জালালাবাদ গ্যাস টি এ্যান্ড ডি সিস্টেম লিঃ---b_fontmadon</p>


</body>

</html>