
{% load static %}
{% comment %} 
{% if messages %}
    {% for message in messages %}
        {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
    {% endfor %}
{% endif %} {% endcomment %}




<!-- Message from backend -->
{% if messages %}
{% for message in messages %}
{% if message.tags %}
<div class="toast-body bg-{{message.tags}} text-light position-fixed top-0 end-0 p-3" id="toast" style="z-index: 2000; border-radius: 4px;">
    <span class="toast-header text-muted pt-0 mt-0 mb-0 pb-0">
        <img src="{% static 'images/MS_Fevicon_52.png' %}" alt="JG"
        style="width:24px;height:24px;">&nbsp;
        <span>{{company_name_en}}
        <hr class="pt-0 mt-0 mb-0 pb-0">
        </span>
        </span>
        
    {{ message|safe }}

</div> 

{% endif %}
{% endfor %}
{% endif %}

